* {
	margin: 0;
	padding: 0;
}

body {
    margin: o;
    height: 100%;
	font-family: 'Do Hyeon', sans-serif;
  }

/* the nav bar */
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
/*#navbar a:hover {
	background-color: #ddd;
	color: black;
}
  
#navbar a.active {
	background-color: #04AA6D;
	color: white;
}
  
.content {
	padding: 16px;
}
  
/*.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
  
.sticky + .content {
	padding-top: 60px;
}*/

.banner-text {
	height: 50px;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.banner-text ul {
	height: 50px;
	float: right;
}

.banner-text ul li {
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
	color: black;
	font-size: 20px;
    text-shadow: 2px 2px white;
}

.banner-text ul li:hover {
	cursor: pointer;
}

.heroImage {
    /* .webp image loads faster but have jpg as backup */
	background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(https://i.pinimg.com/originals/2a/60/1f/2a601fc3af2795db4699f3ce60c5ef62.jpg);
	height: 100vmin;
    width: 100%;
	margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 0px solid white;
}

.heroText {
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
}

h1 {
	text-align: center;
	color: #bba1b8;
	font-size: 65px;
    text-shadow: 2px 2px #b81993;
}

h2 {
	text-align: center;
	color: #36a7a1;
	font-size: 50px;
    text-shadow: 2px 2px gold;
}

img {
    width: 200px;
    height: 200px;
	opacity: 1;
}

/*.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	height: 100vh;
}*/

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
    /*this is the visible box*/
	/*background: rgba(255, 255, 255, 0.2);*/
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0px) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-2000px) rotate(360deg);
		opacity: 0;
	}
}